# Librairies

In [2]:
import polars as pl
from typing import Dict
import sys
import os

# Fonctions

In [19]:
def type_col(data):
    types_colonnes = data.dtypes
    dictionnaire_types = {col: str(dtype) for col, dtype in zip(data.columns, types_colonnes)}# pour avoir le nom de la colonne qui est de quelle type
    return dictionnaire_types

In [20]:
def categorie_col(data):
    dict_type_col=type_col(data)
    dict_val_col = {}
    for column, dtype in dict_type_col.items():
        if dtype == 'String':
            unique_values = data.select(pl.col(column).unique()).to_series().to_list()#to_serie pour avoir un objet unidimentional et to_list pour pouvoir crée le dictionnaire notame,t pour pouvoir accéder au valeur de la cléf ce qui n'est pas possible avec un obj de tyoe serie
            dict_val_col[column] = unique_values
    return dict_val_col

In [21]:
def table_valeur_manquante(data):
    obs_manquantes = data.select([
    pl.col(obs).is_null().sum()
    for obs in data.columns])
    pct_obs_manquantes = (obs_manquantes / data.height * 100).transpose(include_header=True, header_name="Column")
    return pct_obs_manquantes

In [5]:
module_path="C:/Users/basma/Desktop/Stage_gaea/projet_Trends/Base_de_donnees/Final/lib1.py"

In [4]:
module_directory = os.path.dirname("C:/Users/basma/Desktop/Stage_gaea/projet_Trends/Base_de_donnees/Final/lib1.py")
sys.path.insert(0, module_directory)
import lib1 as lb

ModuleNotFoundError: No module named 'lib1'

In [22]:
data= pl.read_excel("IRENA_RE_Jobs_Annual_Review_2023.xlsx",
                   sheet_name="2023 Jobs Tableau")

Séléction des variables qui nous intéresse

In [24]:
data.dtypes

[String, String, Float64, String, String, Int64]

In [ ]:
data['new_col']=data.apply

In [ ]:
lb.type_col(data)

{'Country/area': 'String',
 'Technology': 'String',
 'Jobs (thousand)': 'Float64',
 'Source': 'String',
 'Notes': 'String',
 'Year': 'Int64'}

In [ ]:
lb.categorie_col(data)

{'Country/area': ['Libya',
  'Estonia',
  'Jordan',
  'Cambodia',
  'All World',
  'Sri Lanka',
  'Mauritius',
  'India',
  'Morocco',
  'Democratic Republic of the Congo',
  'Montenegro',
  'Finland',
  'Argentina',
  'Paraguay',
  'Malta',
  'Tajikistan',
  'Russian Federation',
  'Ghana',
  'Uzbekistan',
  'Cyprus',
  'Bangladesh',
  'Zimbabwe',
  'Bulgaria',
  'United States of America',
  'Nigeria',
  'Switzerland',
  'Mongolia',
  'Kyrgyzstan',
  'France',
  'Botswana',
  'North Macedonia',
  'Egypt',
  'Burkina Faso',
  'South Africa',
  'Latvia',
  'Belgium',
  'Rwanda',
  'Ukraine',
  'Ecuador',
  'Guinea',
  'Philippines',
  'Iceland',
  'Croatia',
  'Mexico',
  'Kazakhstan',
  'Spain',
  'Gabon',
  'Other East, Central and West Africa',
  'Sweden',
  'Senegal',
  'Colombia',
  'Panama',
  'Puerto Rico',
  'Viet Nam',
  'Slovenia',
  'United Republic of Tanzania',
  'Ethiopia',
  'Brazil',
  'Hungary',
  'Austria',
  'Lebanon',
  'Mozambique',
  'Nicaragua',
  'Romania',
  'Iran (Islamic Republic of)',
  'Dominican Republic',
  'Slovakia',
  'Albania',
  'Japan',
  'Algeria',
  'Norway',
  'Nepal',
  'Germany',
  'Portugal',
  'Australia',
  'Other South Asia (excluding Bangladesh and India)',
  'Singapore',
  'Chinese Taipei',
  'Republic of Korea',
  'Israel',
  'Belarus',
  'Qatar',
  'Malaysia',
  'Bosnia and Herzegovina',
  'Moldova',
  'Greece',
  'Barbados',
  'Azerbaijan',
  'Costa Rica',
  'Peru',
  'Pakistan',
  'Lesotho',
  'Mali',
  'Chile',
  'Uruguay',
  'State of Palestine',
  'Italy',
  'Türkiye',
  'Lithuania',
  'Ireland',
  'New Zealand',
  'United Kingdom',
  'Poland',
  'Luxembourg',
  'China',
  'Serbia',
  'Kenya',
  'Denmark',
  'El Salvador',
  'Netherlands',
  'Oman',
  'Canada',
  'Namibia',
  'Tunisia',
  'Indonesia',
  'Czechia',
  'Thailand',
  'Venezuela (Bolivarian Republic of)',
  'Myanmar',
  'Uganda',
  'United Arab Emirates',
  'Angola',
  'Zambia'],
 'Technology': ['Solar photovoltaic',
  'Wind Energy',
  'Geothermal Energy',
  'Hydropower',
  'Liquid Biofuels',
  'Biogas',
  'Geothermal energy',
  'All technologies',
  'Heat Pumps',
  'Solid Biomass',
  'Tide, Wave and Ocean Energy',
  'Solar Photovoltaic',
  'CSP',
  'Solar Heating / Cooling',
  'Liquid biofuels',
  'Municipal and industrial waste',
  'Others'],
 'Source': ["EurObserv'ER (2022)",
  'REA (2021)',
  'IRENA estimate',
  'CHPA (2023)',
  'DEDE',
  'Natural Resources Canada (2023)',
  'Guardian (2015)',
  'BMWi (2021)',
  'Investmauritius (2016)',
  'INTPOW (2009)',
  'Solar-Inverter (2015)',
  'Urbanchuk (2012)',
  'NREA Egypt (2016) ',
  'IEA GEA (2013)',
  'USDOE (2023)',
  'APPA (2022)',
  'EHPA (2023)',
  'Elmoudjahid (2016); SKTM (2016); Condor (2016)',
  'IRENA Estimate',
  "EurObserv'ER (2020)",
  'Mobisol (2016)',
  'ABS (2020)',
  'SFOE (2016)',
  'UNDP (2015)',
  'MNRE and CII (2010)',
  'China Renewable Energy Society (2023)',
  'US DOE (2023)',
  'Chevron Indonesia (2012)',
  'GOGLA',
  'Konechenkov and Shmidt (2016)',
  'US DOE (2022)',
  'GIZ (2015)',
  'Ministry of Energy, Chile; River Consultores (2016); Corporación de Bienes de Capital (2017) (estimates for constructing new plants planned for 2018 plus O&M from previous plants)',
  'Mcesocap (2016); PEG-ghana (nd); PV-tech (nd)',
  None,
  'IRENA focal point',
  'GOGLA and Vivid Economics (2018)',
  'Zawya (2015)',
  'IRENA Focal Point',
  'Ministry of Energy, Chile; River Consultores (2016); Corporación de Bienes de Capital (2017)',
  'Ministerio de Minas y Energía (2015)'],
 'Notes': ['Based on employment factors and capacity data',
  'Includes biogas, Direct & Indirect jobs based on I-O model.',
  'Government jobs',
  'Employment factor based estimate',
  'O&M jobs only',
  'Offgrid solar jobs',
  'Renewable heating and cooling applications',
  'Includes workforce of Mobisol, Off-grid Electric and AKON Solar',
  None,
  'They are included in the solar photovoltaic data point',
  'Only in manufacturing ',
  'Direct & Indirect jobs based on I-O model',
  'The workforce of PEG-Ghana, the construction workforce of BXG Ghana and for Nzema solar project.',
  'Only employed by Chevron',
  'Direct and indirect jobs.',
  'The figure given in the source is for all bioenergy. Here, it is assigned to Solid Biomass',
  'Renewables energy workforce of universities, utilitites and organisations such as Masdar and IRENA',
  'People trained in renewables',
  'Equipment manufacturing for all renewables',
  'Direct and indirect jobs. Expert judgement.',
  'Small hydro only.',
  'Direct Jobs only.',
  'Direct + Indirect (includes consultants, lawyers, etc). These jobs have been created since 2010',
  '54.6k in traditional hydropower',
  '5,410 in power and 550 in heat',
  'Based on capacity and manufacturing trends',
  'IRENA estimate based on data from Renewable Energy Development Centre (CDER)',
  'These are people employed in CDER, SKTM and Condor ',
  '30 in Hydro-thermal sector and 17,020 in construction & installation of all renewables.']}

In [4]:
data=data.select(['Country/area','Technology','Jobs (thousand)'])

In [5]:
type(data)

polars.dataframe.frame.DataFrame

def type_col(data:pl.DataFrame)->Dict:
    """Fonction qui permet de renvoyer un dictionnaire contenant le nom de la variable associé a son type"""
    types_colonnes = data.dtypes
    dictionnaire_types = {col: str(dtype) for col, dtype in zip(data.columns, types_colonnes)}# pour avoir le nom de la colonne qui est de quelle type
    return dictionnaire_types

def categorie_col(data:pl.DataFrame)->Dict:
    """Fonction qui nous renvoie seulement pour les variables de type string le nom de la variable associer a une liste des modalité possible que peut prendre la variable"""
    dict_type_col=type_col(data)
    dict_val_col = {}
    for column, dtype in dict_type_col.items():
        if dtype == 'String':
            unique_values = data.select(pl.col(column).unique()).to_series().to_list()#to_serie pour avoir un objet unidimentional et to_list pour pouvoir crée le dictionnaire notame,t pour pouvoir accéder au valeur de la cléf ce qui n'est pas possible avec un obj de tyoe serie
            dict_val_col[column] = unique_values
    if not dict_val_col:
        raise ValueError("Aucune variable de type string trouvée dans le DataFrame.")
    return dict_val_col

In [6]:
# A utiliser pour les test
df = pl.DataFrame({
    'id': [1, 2, 3, 4],  # Colonne de type entier (int)
    'age': [25, 30, 35, 40],  # Colonne de type entier (int)
    'salary': [75000.50, 85000.75, 90000.00, 72000.20]  # Colonne de type flottant (float)
})

Pour visualiser les différent pays et les différents technologie des energies renouvlable

In [11]:
dict_c=categorie_col(data)
dict_c.keys()

dict_keys(['Country/area', 'Technology'])

In [12]:
list_cat=dict_c['Country/area']

Ici on s'intéresse uniquement au chiffres dans le monde entier 'All World'

In [13]:
data=data.filter(pl.col('Country/area')=="All World")

In [14]:
dict_c[ 'Technology']

['Biogas',
 'Solar Photovoltaic',
 'Municipal and industrial waste',
 'Tide, Wave and Ocean Energy',
 'Others',
 'CSP',
 'Heat Pumps',
 'Solid Biomass',
 'Solar photovoltaic',
 'Geothermal Energy',
 'All technologies',
 'Solar Heating / Cooling',
 'Hydropower',
 'Wind Energy',
 'Liquid Biofuels',
 'Liquid biofuels',
 'Geothermal energy']

In [15]:
def  recode_solar(mod):# apply ne somble pas fonctionner pour le recodage des variables
    if mod in ["Solar photovoltaic","Solar photovoltaic","Solar Heating / Cooling"]:
        return "Solar ernergy"
    return mod

Ici il faudrai penser a trouver une meilleur facon de recoder la variable pck la le code est trop 
compliquer a relire et il y a surement une meilleur facon de le faaire. L'idéal serai de pouvoir appliquer 
différente fonction sur la variable pour bien faire la différence entre les différent groupe que 
l'on veut crée.

# Recodage de la variable Technologie

In [17]:
data.with_columns(pl.col("Technology").map_dict(technology_mapping, default="Other").alias("Grouped_Technology"))

AttributeError: 'Expr' object has no attribute 'map_dict'

In [18]:
technology_mapping = {
    "Solar photovoltaic": "Solar energy",
    "Solar Heating / Cooling": "Solar energy",
    "Solar Photovoltaic": "Solar energy",
    "CSP": "Solar energy",
    "Tide, Wave and Ocean Energy": "Marine energy",
    "Liquid biofuels": "Bioenergy",
    "Biogas": "Bioenergy",
    "Municipal and industrial waste": "Bioenergy",
    "Solid Biomass": "Bioenergy",
    "Wind Energy": "Wind energy",
    "Geothermal Energy": "Geothermal energy"
}
df_transformed = data.with_column(
    pl.col("Technology").map_dict(technology_mapping, default="Other").alias("Grouped_Technology")
)

AttributeError: 'DataFrame' object has no attribute 'with_column'

In [125]:
df_transformed = data.with_columns(
    pl.when(pl.col("Technology").is_in(["Solar photovoltaic", "Solar Heating / Cooling","Solar Photovoltaic","CSP"]))
    .then(pl.lit("Solar energy"))
    .otherwise( pl.when(pl.col("Technology").is_in(["Tide, Wave and Ocean Energy"]))
                .then(pl.lit("Marine ernergy"))
                .otherwise(pl.when(pl.col("Technology").is_in(["Liquid biofuels","Biogas","Municipal and industrial waste","Solid Biomass","Liquid Biofuels"]))
                            .then(pl.lit("Bioenergy"))
                            .otherwise(pl.when(pl.col("Technology").is_in(["Wind Energy"]))
                                        .then(pl.lit("Wind energy"))
                                        .otherwise(pl.when(pl.col("Technology").is_in(["Geothermal Energy"]))
                                                    .then(pl.lit("Geotherma energy"))
                                                    .otherwise(pl.col("Technology")) 
                                                        )
                                                    )
                                                )
                                        ).alias("Grouped_Technology")
                            )
print(df_transformed)

shape: (14, 4)
┌──────────────┬─────────────────────────────┬─────────────────┬────────────────────┐
│ Country/area ┆ Technology                  ┆ Jobs (thousand) ┆ Grouped_Technology │
│ ---          ┆ ---                         ┆ ---             ┆ ---                │
│ str          ┆ str                         ┆ f64             ┆ str                │
╞══════════════╪═════════════════════════════╪═════════════════╪════════════════════╡
│ All World    ┆ All technologies            ┆ 13726.74294     ┆ All technologies   │
│ All World    ┆ Geothermal energy           ┆ 151.933         ┆ Geothermal energy  │
│ All World    ┆ CSP                         ┆ 79.675          ┆ Solar energy       │
│ All World    ┆ Heat Pumps                  ┆ 241.0           ┆ Heat Pumps         │
│ All World    ┆ Hydropower                  ┆ 2485.15         ┆ Hydropower         │
│ …            ┆ …                           ┆ …               ┆ …                  │
│ All World    ┆ Solid Biomass               ┆ 779.256         ┆ Bioenergy          │
│ All World    ┆ Tide, Wave and Ocean Energy ┆ 1.288           ┆ Marine ernergy     │
│ All World    ┆ Wind Energy                 ┆ 1400.346        ┆ Wind energy        │
│ All World    ┆ Liquid Biofuels             ┆ 2490.279        ┆ Bioenergy          │
│ All World    ┆ Solar Photovoltaic          ┆ 4902.346        ┆ Solar energy       │
└──────────────┴─────────────────────────────┴─────────────────┴────────────────────┘

df_transformed on réunie les technologies qui sont un peut trop précise sous une catégorie un peu plus général

In [143]:
df_grouped = df_transformed.group_by("Grouped_Technology").agg(
    pl.sum("Jobs (thousand)").alias("Total_Jobs_thousand")
)

df_grouped pour agrégée les données (plusieurs données peuvent prendre la même modalité)

Création d'un indicateur qui contiens un pourcentage de travailleur dans une technologie renouvlable parmis tous les travailleur spécifique dans une énergies renouvlable.

In [145]:
sum_other_modalities = df_grouped.filter(pl.col("Grouped_Technology") != "All technologies").select(pl.sum("Total_Jobs_thousand")).to_numpy()[0]

In [155]:
sum_other_modalities

array([13727.6441328])

In [153]:

all_technology_value = df_grouped.filter(pl.col("Grouped_Technology") == "All technologies").select("Total_Jobs_thousand").to_numpy()[0][0]

In [154]:
all_technology_value

13726.74294

Certaine catégorie ici ne sont pas pris en compte

In [156]:
mod_sup=['Others','All technologies','Heat Pumps']

In [158]:
df_filtered = df_grouped.filter(~pl.col('Grouped_Technology').is_in(mod_sup))

In [159]:
total_traveilleur=df_filtered['Total_Jobs_thousand'].sum()

In [160]:
total_traveilleur

13337.8951328

In [162]:
data_f = df_filtered.with_columns(
    (pl.col('Total_Jobs_thousand') / total_traveilleur * 100).round(3).alias('Total_Jobs_thousand_perct')
)

data_f est la base de données final qui contiens les indicateur sur le travail dans les énergies renouvlables